body {
  color: #333;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background: deepskyblue;
  margin-bottom: 40px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
  list-style-type: none;
}


a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  background: #0CB8F2;
}
